* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  overflow: hidden;
  font-family: 'Dosis', sans-serif;
  background-color: #FFC5E6;
  height: 100vh;
  width: 100vw;
}

#title {
  position: absolute;
  top: 47px;
  left: 70px;
  font-family: 'Suez One', serif;
  font-size: 30px;
  color: #333333;
}

.con {

  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
  display: none;
  z-index: -99 !important;
}

.container {
  background-color: #87f9d4;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 68px;
  position: fixed;
}

.work-a[aria-expanded="true"] {
  content: url("https://img.icons8.com/material-outlined/344/delete-sign.png");
  width: 1.4rem;
  aspect-ratio: 1;
  z-index: 99;
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: none;
}


.navbar {
  justify-content: center;
  align-items: center;
  list-style: none;
  height: 100vh;
  margin-right: 10px;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;

}

.navbar li {
  transform: rotate(90deg);
  font-size: 27px;

}

.navbar img {
  transform: rotate(270deg);
  width: 25px;
  height: 25px;
}

.a-1 {
  margin-left: 10px;
  width: 27px;
  height: 27px;
}

.about[data-visible="true"] {
  display: none;
}


.work[data-visible="true"] {
  transition: transform 350ms ease-out;
  transform: rotateX(0) !important;
  width: 100vw;
  right: 68px;
}

.work {
  background-color: #DCAEE8;
  z-index: 0;
  transition: transform 350ms ease-out;
  transform: translateX(100%);
  width: 70vw;
  right: 0px;

}

.work_flex::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.work_flex {
  overflow: scroll;
  height: inherit;
  margin: 30px;
  flex-wrap: wrap;
  width: inherit;
  -ms-overflow-style: none;
  align-items: center;
  /* Internet Explorer 10+ */
  scrollbar-width: none;

  justify-content: center;

}
.content{
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.content1{
  width:600px; 
  margin-left: 25px;
  margin-bottom: 250px;
}
.grid-item {

  height: 306px;
  width: 233px;
}

/*----Responsive-------------->>*/

@media (max-width: 35em) {
  .container {
    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }
   .content{
    text-align: start !important;
    justify-content: left;
  }
  .content1{
    width: 258px !important;
  }
  #info{
    font-size: 27px !important;
  }
  #info1{
    font-size: 24px !important;
  }
  .container[visible="true"] {
    transform: translateX(0%);
    transition: transform 350ms ease-in-out;
  }

  #li_work {
    margin-top: 60px;
  }

  .menu {
    position: absolute;
    background: url("https://img.icons8.com/material-outlined/24/000000/menu--v1.png");
    width: 1.2rem;
    aspect-ratio: 1;
    z-index: 9999;
    top: 53px;
    right: 1.88rem;
    border: none;
    display: block;
  }

  .menu[aria-expand="true"] {
    background-image: url("https://img.icons8.com/plumpy/24/000000/macos-close.png");
    width: 1.4rem;
    top: .6rem;
    aspect-ratio: 1;
  }


  .navbar li {
    font-size: 24px;
  }

  #title {
    font-size: 26px;
    left: 25px;
  }
}

/* @media (min-width: 35em) and (max-width: 55em) {


}


@media (min-width: 55em) {
 
} */

/* //-----------? */
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap, 2rem);
}

/*------resize stopper-------*/

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}